:root {
    /* Primary color shades */
    --md-primary-fg-color: #0057B8;
    --md-default-bg-color--light: #F1F3F6;
    --md-default-bg-color: #F1F3F6;
    --md-default-bg-color--lighter: #F1F3F6;
  }
  
:root > * {

  /* Footer */
  --md-footer-bg-color: #0057B8;
  --md-footer-bg-color--dark: #0057B8;
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.9);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.85);
}
